*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: auto;
    margin: 0 auto;
}

/* INICIO DE WAVE */
@import url(//fonts.googleapis.com/css?family=Lato:300:400);
body {
  margin: 0;
}
h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 48px;
}
p {
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  font-size: 14px;
  color: #333333;
}
.header {
  position: relative;
  text-align: center;
  background: linear-gradient(60deg, lightpink 0%, hotpink 100%);
  color: white;
}
.logo {
  width: 50px;
  fill: white;
  padding-right: 15px;
  display: inline-block;
  vertical-align: middle;
}
.inner-header {
  height: 32vh;
  width: 100%;
  margin: 0;
  padding: 0;
}
.flex {
  /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px;
  /*Fix for safari gap*/
  min-height: 100px;
  max-height: 150px;
}
/* .content {
  position: relative;
  height: auto;
  text-align: center;
  background-color: white;
} */
/* Animation */
.parallax>use {
  animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}
.parallax>use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax>use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax>use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax>use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height: 10vh;
    min-height: 40px;
  }
  
  h1 {
    font-size: 24px;
  }
}
/* FIN DE WAVE */

/* Collapse INICIO */


.collapsible {
    background-color: rgb(248, 147, 164);
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    margin-bottom: 10px;
    transition: .3s;
}

.active, .collapsible:hover {
    background-color: plum;
}

.collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: white;
}
.div{
    display: flex;
    align-items: center;
}
.div img{
    width: 20%;
}
/* Collapse fin */
@media only screen and (max-width: 425px){
    .slider{
        width: 100%;
        height: 500px;
        background-color: pink;
        display: flex;
        flex-direction: column;
    }
    .left-slider{
        width: 50%;
        height: 100%;
        margin: auto;
    }
    .left-slider img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    .right-slider{
        margin: 20px 0;
    }
    .logo-text{
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;

    }
    .company-logo{
        width: 20%;
        height: 130px;
        background-color: white;
    }
    .company-text{
        margin: 20px 10px;
    }
    .buttons{
        display: flex;
        justify-content: space-evenly;
        box-sizing: border-box;
        margin: 10px 0;
    }
    .right-slider button{
        height: 50px;
        background-color: rgb(248, 147, 164);
        border: none;
        border: 1px solid black;
        border-radius: 10px;
        font-size: 15px;
        padding: 10px;
        font-weight: bold;
        transition: .3s;
        color: white;
    }
    .right-slider button:first-child{
        margin-bottom: 40px;
    }
    .right-slider button:hover{
        background-color: plum;
    }
    .princess-container{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 155px 155px 155px 155px 155px;
        column-gap: 0px;
        padding-top: 51px;
        padding-bottom: 51px;
        background-image: url(../img/fondo-vestidos.png);
    }
    .princess-container img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 15px;
    }
    .princess{
        width: 75%;
        height: 100px;
        background-color: violet;
        border-radius: 10px;
        margin: 0 auto;
    }
    .div img{
        width: 40%;
    }

        .map-message{
            width: 100%;
            background-color: pink;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .map{
            width: 90%;
            border-radius: 15px;
            margin: 2%;
        }
        .map iframe{
            width: 100%;
            height: 250px;
            border-radius: 15px;
        }

        /*ESTILOS DE LA CAJA DE MENSAJES*/
        .message{
            width: 90%;
            background-color: pink;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            box-sizing: border-box;
            border: 1px solid #eaeaea;
            border-radius: 15px;
            margin: 2%;
        }
        .message input{
            width: 80%;
            height: 40px;
            border-radius: 15px;
            border: none;
            text-align: center;
        }
        .message textarea{
            width: 80%;
            height: 150px;
            border-radius: 15px;
            border: none;
            font-family: Arial, Helvetica, sans-serif;
            margin-top: 10px;
        }

    footer{
        width: 100%;
        height: 200px;
        justify-content: space-around;
        align-items: center;
    }
    .info{
        width: 20%;
        height: 150px;
        background-color: white;
    }
    .social{
        width: 20%;
        height: 150px;
        background-color: white;
    }
    /*EFECTO HOVER*/
    .princess-info{
        border-radius: 5px 5px 0 0;
        background-color: #fff;
        box-shadow: 5px 65px 20px -10px rgba(0,0,0,0.5);
        position: relative;
        bottom: 155px;
        right: 9%;
        width: 120%;
        height: 100px;
        padding-top: 30px;
        padding-bottom: 20px;
        margin-bottom: 48px;
        transform: scale(0);
        transition: .3s;
    }
    .princess:hover .princess-info{
        transform: scale(1);
    }
    .princess-btn{
        border: none;
        border-radius: 0 0 5px 5px;
        background: rgb(248, 147, 164);
        height: 48px;
        font-family: inherit;
        font-size: 12px;
        font-weight: 700;
        color: #fff;
        text-transform: uppercase;
        position: absolute;
        bottom: -48px;
        width: 100%;
        cursor: pointer;
        transition: .3s;
    }
    .princess-btn:hover{
        background: plum;
    }
    .princess-title{
        margin: 0;
        margin-bottom: 5px;
        text-align: center;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 700;
        color: #000;
    }
    .princess-subtitle{
        margin: 0;
        margin-bottom: 20px;
        text-align: center;
        font-size: 12px;
        font-weight: 500;
        color: #aaa;
    }
    .princess-price{
        text-align: center;
        margin: 0;
        color: #2BCD71;
        font-size: 16px;
        font-weight: 500;
    }
    .princess-price-old{
        text-decoration: line-through;
        color: #aaa;
        font-size: 14px;
    }
    /*FIN DE EFECTO HOVER*/
    .card{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: pink;
        box-sizing: border-box;
        border-bottom: 1px solid #eaeaea;
        padding: 2%;
    }
    .card img , .card-center img{
        width: 60%;
        margin: 5%;

    }
    .card-center{
        width: 100%;
        display: flex;
        flex-direction:column-reverse;
        align-items: center;
        background-color: pink;
        box-sizing: border-box;
        border-bottom: 1px solid #eaeaea;
        padding: 2%;
    }
}
@media only screen and (min-width: 426px){
    .slider{
        width: 100%;
        height: 500px;
        background-color: pink;
        display: flex;
    }
    .left-slider{
        width: 50%;
        height: 100%;
        text-align: center;
    }
    .left-slider img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    .right-slider{
        width: 50%;
        height: 100%;
        border-left: 1px solid white;
    }
    .logo-text{
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;

    }
    .buttons{
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
    }
    .company-logo{
        width: 20%;
        height: 40px;
        background-color: white;
    }
    .company-text{
        width: 60%;
        height: auto;
        margin-top: 40px;
    }
    .right-slider button{
        height: 50px;
        background-color: rgb(248, 147, 164);
        border: none;
        border: 1px solid black;
        border-radius: 10px;
        font-size: 15px;
        padding: 10px;
        font-weight: bold;
        transition: .3s;
        color: white;
    }
    .right-slider button:first-child{
        margin-bottom: 40px;
    }
    .right-slider button:hover{
        background-color: plum;
    }
    .princess-container{
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: 200px 200px;
        column-gap: 10px;
        padding-top: 20px;
        padding-bottom: 20px;
        background-image: url(../img/fondo-vestidos.png);
    }
    .princess-container img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 15px;
    }
    .princess{
        width: 50%;
        height: 170px;
        background-color: violet;
        border-radius: 10px;
        margin: 0 auto;
    }

    .div img{
        width: 20%;}

   /*ESTILOS DEL MAPA*/
.map-message{
    width: 100%;
    height: 350px;
    background-color: pink;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.map{
    width: 30%;
    height: 250px;
    border-radius: 15px;
}
.map iframe{
    width: 100%;
    height: 250px;
    border-radius: 15px;
}

/*ESTILOS DE LA CAJA DE MENSAJES*/
.message{
    width: 30%;
    height: 250px;
    background-color: pink;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid #eaeaea;
    border-radius: 15px;
}
.message input{
    width: 80%;
    height: 40px;
    border-radius: 15px;
    border: none;
    text-align: center;
}
.message textarea{
    width: 80%;
    height: 150px;
    border-radius: 15px;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
}
    footer{
        width: 100%;
        height: 200px;
        justify-content: space-around;
        align-items: center;
    }
    .info{
        width: 20%;
        height: 150px;
        background-color: white;
    }
    .social{
        width: 20%;
        height: 150px;
        background-color: white;
    }
    /*EFECTO HOVER*/
    .princess-info{
        border-radius: 5px 5px 0 0;
        background-color: #fff;
        box-shadow: 5px 65px 20px -10px rgba(0,0,0,0.5);
        position: relative;
        bottom: 190px;
        right: 9%;
        width: 120%;
        height: 100px;
        padding-top: 30px;
        padding-bottom: 20px;
        margin-bottom: 48px;
        transform: scale(0);
        transition: .3s;
    }
    .princess:hover .princess-info{
        transform: scale(1);
    }
    .princess-btn{
        border: none;
        border-radius: 0 0 5px 5px;
        background: rgb(248, 147, 164);
        height: 48px;
        font-family: inherit;
        font-size: 12px;
        font-weight: 700;
        color: #fff;
        text-transform: uppercase;
        position: absolute;
        bottom: -48px;
        width: 100%;
        cursor: pointer;
        transition: .3s;
    }
    .princess-btn:hover{
        background: plum;
    }
    .princess-title{
        margin: 0;
        margin-bottom: 5px;
        text-align: center;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 700;
        color: #000;
    }
    .princess-subtitle{
        margin: 0;
        margin-bottom: 20px;
        text-align: center;
        font-size: 12px;
        font-weight: 500;
        color: #aaa;
    }
    .princess-price{
        text-align: center;
        margin: 0;
        color: #2BCD71;
        font-size: 16px;
        font-weight: 500;
    }
    .princess-price-old{
        text-decoration: line-through;
        color: #aaa;
        font-size: 14px;
    }
    /*ESTILO CARD*/
.card, .card-center{
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: pink;
    box-sizing: border-box;
    border-bottom: 1px solid #eaeaea;
    padding-left: 2%;
    padding-right: 2%;
}
.card img, .card-center img{
    width: 30%;

}
    /*FIN DE EFECTO HOVER*/
    @media only screen and (max-width: 768px){
        .princess {
            width: 90%;
            height: 150px;
            background-color: violet;
            border-radius: 10px;
            margin: 0 auto;
        }
        .div img{
            width: 40%;}
            .map-message{
                width: 100%;
                height: auto;
                background-color: pink;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            .map{
                width: 90%;
                border-radius: 15px;
                margin: 2%;
            }
            .map iframe{
                width: 100%;
                height: 250px;
                border-radius: 15px;
            }

            /*ESTILOS DE LA CAJA DE MENSAJES*/
            .message{
                width: 90%;
                background-color: pink;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                box-sizing: border-box;
                border: 1px solid #eaeaea;
                border-radius: 15px;
                margin: 2%;
            }
            .message input{
                width: 80%;
                height: 40px;
                border-radius: 15px;
                border: none;
                text-align: center;
            }
            .message textarea{
                width: 80%;
                height: 150px;
                border-radius: 15px;
                border: none;
                font-family: Arial, Helvetica, sans-serif;
                margin-top: 10px;
            }

    }
}
.data{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}
.social{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    background: linear-gradient(60deg, lightpink 0%, hotpink 100%);
    position: relative;
    right: 50px;
    margin-top: 20px;
}
.social img{
    width: 10%;
}
.network{
    display: flex;
    justify-content: center;
    align-items: center;
}
.network img{
    margin-right: 10%;
}
.instagram a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    transition: .3s;
}
.instagram a:hover{
    color: tomato;
}
.instagram img{
    margin-right: 10%;
}
