*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: darkcyan;
    width: 100%;
    height: auto;
    margin: 0 auto;
}
nav{
    width: 100%;
    height: 60px;
    background-color: darkgoldenrod;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    width: 10%;
    height: 40px;
    background-color: white;
}
.slider{
    width: 100%;
    height: 250px;
    background-color: white;
    margin-top: 30px;
}
.princess-container{
    display: grid;  
    grid-template-columns: 25% 25% 25% 25%;  
    grid-template-rows: 200px 200px;
    column-gap: 10px;
    padding-top: 20px;
}
.princess-container img{
    width: 100%;  
    height: 100%;  
    object-fit: cover;
    border-radius: 15px;
}
.princess{
    width: 50%;
    height: 170px;
    background-color: violet;
    border-radius: 10px;
    margin: 0 auto;
    
}
.map-message{
    width: 100%;
    height: 350px;
    background-color: darkgrey;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.map{
    width: 30%;
    height: 250px;
    background-color: darkkhaki;
}
.message{
    width: 30%;
    height: 250px;
    background-color: darkkhaki;
}
footer{
    width: 100%;
    height: 200px;
    background-color: plum;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.info{
    width: 20%;
    height: 150px;
    background-color: white;
}
.social{
    width: 20%;
    height: 150px;
    background-color: white;
}
/*EFECTO HOVER*/
.poster-info{
    border-radius: 5px 5px 0 0;
    background-color: #fff;
    box-shadow: 5px 65px 20px -10px rgba(0,0,0,0.5);
    position: relative;
    bottom: 190px;
    right: 9%;
    width: 120%;
    height: 100px;
    padding-top: 30px;
    padding-bottom: 20px;
    margin-bottom: 48px;
    transform: scale(0);
    transition: .3s;
} 
.princess:hover .poster-info{
    transform: scale(1);
}
.poster-btn{
    border: none;
    border-radius: 0 0 5px 5px;
    background: #2F2F2F;
    height: 48px;
    font-family: inherit;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    position: absolute;
    bottom: -48px;
    width: 100%;
    cursor: pointer;
}
.poster-btn:hover{
    background: #484747;
    transition: .3s;
}
.poster-title{
    margin: 0;
    margin-bottom: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    color: #000;
}
.poster-subtitle{
    margin: 0;
    margin-bottom: 20px;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    color: #aaa;
}
.poster-price{
    text-align: center;
    margin: 0;
    color: #2BCD71;
    font-size: 16px;
    font-weight: 500;
}
.poster-price-old{
    text-decoration: line-through;
    color: #aaa;
    font-size: 14px;
}